%h2 Plan your trip today. 
= simple_form_for @trip do |f|
  .form-inputs
    = f.input :start_date, :as => :date
    = f.input :end_date, :as => :date
    = f.input :city, :as => :string, placeholder: 'Baltimore, MD'
    = f.input :name, :as => :string, placeholder: 'Name Your Trip'
  .form-actions
    = f.button :submit, "Search"
