%h1 Show Trip Page
%ul.games
  - @games.each do |game|
    %li= game.first_pitch_at
    %li= game.venue_name
    %li= game.home_team_id
    %li= game.away_team_id
    %br





%p= link_to 'Edit Trip', edit_trip_path
%p= link_to 'See all your saved trips', trips_path
= button_to("Delete This Trip", @trip, method: :delete, class: "button tiny alert", id: "trip_delete" )
