!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "RoundingThird"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    %ul#devise_navigation
      - if user_signed_in?
        %li
          You are signed in as
          = link_to(current_user.email, main_app.user_path(current_user))
        %li= link_to('sign out', destroy_user_session_path, method: :delete)
      - else
        %li= link_to("sign in", new_user_session_path)
        %li= link_to("sign up", new_user_registration_path)
    %header
      %section
        .left-column
          %h1.title= link_to "rounding third", "/"
        .right-column
          %nav#pages
            %ul
              %li= link_to "Trips", new_trip_path
              %li= link_to "Stadiums", "#"
            %p.tagline where baseball travel plans are made
    #content
      - if notice.present?
        .alert-box.success{ "data-alert" => "" }
          = notice
      - if alert.present?
        .alert-box.alert{ "data-alert" => "" }
          = alert
      = yield
    %footer
      %p= link_to "About", "#"
      %p= link_to "Blog", "http://roundingthird.tumblr.com/"
      %p= link_to "illustration by 5.4.1871", "http://541871.com/"
    = javascript_include_tag "application"
